[submodule "configs/media"]
	path = configs/media
	url = https://github.com/constructorfleet/HomeAssistant-Config-Media.git
[submodule "configs/environment"]
	path = configs/environment
    url = https://github.com/constructorfleet/HomeAssistant-Config-Environmental.git
[submodule "configs/security"]
	path = configs/security
    url = https://github.com/constructorfleet/HomeAssistant-Config-Security.git
[submodule "configs/appliances"]
	path = configs/appliances
    url = https://github.com/constructorfleet/HomeAssistant-Config-Appliances.git
[submodule "configs/planning"]
	path = configs/planning
    url = https://github.com/constructorfleet/HomeAssistant-Config-Planning.git
[submodule "configs/communication"]
	path = configs/communication
    url = https://github.com/constructorfleet/HomeAssistant-Config-Communication.git
[submodule "configs/zwave"]
	path = configs/zwave
    url = https://github.com/constructorfleet/HomeAssistant-Config-Zwave.git
[submodule "configs/master"]
	path = configs/master
    url = https://github.com/constructorfleet/HomeAssistant-Config-Master.git
[submodule "configs/trackers"]
	path = configs/trackers
    url = https://github.com/constructorfleet/HomeAssistant-Config-Tracker.git
[submodule "configs/hubs"]
	path = configs/hubs
    url = https://github.com/constructorfleet/HomeAssistant-Config-Hub.git
